{% extends 'base.html' %}

{% block content %}

    <section class="breadcrumb__section breadcrumb__container_margin-top">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li class="active">Восстановление учетных данных</li>
            </ol>
        </div>
    </section>

    <section class="search__section common__container_margin-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 common__container_margin-bottom">
                    <h2 class="text-center">
                        Восстановление учетных данных
                    </h2>

                    <h3 class="text-center">
                        На почту высланы инструкции по востановлению пароля.
                    </h3>

                </div>

            </div>
        </div>
    </section>




{% endblock %}