{% extends 'base.html' %}

{% block content %}

    <section class="breadcrumb__section breadcrumb__container_margin-top">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li class="active">Восстановление учетных данных</li>
            </ol>
        </div>
    </section>

    <section class="search__section common__container_margin-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 common__container_margin-bottom">
                    <h2 class="text-center">
                        Восстановление учетных данных
                    </h2>
                    {% if token_is_expire %}
                        <h3>Ссылка устарела.</h3>
                        <p>Попробуйте запросить <a href="{% url 'accounts:reminder' %}">новую</a></p>
                    {% else %}
                        <form action="." method="post">
                            {% csrf_token %}

                            <div class="form-grou {% if error %} has-warning {% endif %}">
                                <label for="inputEmail">
                                    Пароль
                                </label>
                                <input type="password" name="password" class="form-control" id="inputPassword" required
                                       placeholder="Пароль">
                                {% if error %}
                                    <span class="help-block">{{ error }}</span>
                                {% endif %}
                            </div>
                            <div class="form-grou {% if error %} has-warning {% endif %}">
                                <label for="inputPasswordConfirm">
                                    Подтверждение
                                </label>
                                <input type="password" name="password_confirm" class="form-control"
                                       id="inputPasswordConfirm" required
                                       placeholder="Подтверждение">
                                {% if error %}
                                    <span class="help-block">{{ error }}</span>
                                {% endif %}
                            </div>

                            <button type="submit" class="btn btn-default center-block">Сохранить</button>
                        </form>
                    {% endif %}

                </div>

            </div>
        </div>
    </section>




{% endblock %}