<h2>
    {{message.subject}}
</h2>
<p>{{{message.text}}}</p>

<p>Ответ: <button class="btn btn-success" id="confirmTransferButton">Книга поступила</button></p>
<br> Читатель будет оповещен по электронной почте
