<h4>
    {{message.subject}}
    <br>
    <small>{{{message.text}}}</small>
</h4>

<p><i>Действия:</i></p>
<button class="btn btn-success" id="confirmTransferButton"><i class="fa fa-book"></i> Книга поступила</button>
