<div class="from-group">
    <label for="user">Номер читательского билета</label>
    <input type="text" required class="form-control" id="ticketNumber" placeholder="Номер читательского билета">
</div>